body{
    background-color: #464F54;
}
.wrapper{
    max-width: 1130px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    position: relative;
}
.black{
    min-width: 950px;
    max-height: 190px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 50px;
    background-color: #000000;
    color: #ffffff;
    margin-top: -100px;
    margin-right: -300px;
    margin-top: 100px;
    position: absolute;   
}
.main{
    background-color: #ffffff;
    min-width: 1060px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 200px;
}
.text{
    max-width: 820px;
    margin: 0 auto;
    margin-top: 200px;
    
}
input{
    color:#ffff;
    font-weight: 100;
    background-color: #000000;
   border-color: #000000;
   font-size: 30px;
   border-bottom-color: #464F54; 
   padding: 10px;
}
.black p{
    margin-bottom: -2px;
    color: #464F54;
}
hr{
    color: #464F54;
    margin-right: 10px;
}