@font-face {
    font-family: 'Miso Regular';
    src: url('Miso.eot');
    src: url('Miso.eot?#iefix') format('embedded-opentype'),
    url('Miso.woff') format('woff'),
    url('Miso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body{
        background-color: #F6F6F6;
    }
.wrapper{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin-top: 140px;
}
.top{
    display: flexbox;
    justify-content: center;
    text-align: center;
    color: #3C3C3C;
    font-family: 'Miso Regular';
}
h1{
    font-size: 34px;
    }
.top p{
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
.main{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
}
.boxes{
max-width: 270px;
max-height: 265px;
display: flexbox;
justify-content: flex-start;
}
.icon{
    margin-top: -270px;
    background-color: #18B5DC;
    min-height: 265px;
    position: relative;
    visibility: hidden;
}
i{
    background-color: #5ECBE7;
    color: #ffff;
    border: 0px solid;
    padding: 10px;
    align-items: center;
    margin-top: 100px;
}
.text{
    max-height: 45px;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: 'Miso Regular';
    color: #3C3C3C;
}
.text h2{
    font-size: 18px;
  
}
.text p{
    font-size: 14px;
   margin-top: -10px;
}

.pictures:hover img {
    transform: rotate3d(1,1,1,360deg);
    transition-duration: 2s;
visibility: hidden;
}
.pictures:hover .icon {
    transform: rotate3d(1,1,1,360deg);
    transition-duration: 2s;
    visibility: visible;
    }
hr{
    width: 5%;
    height:1px;
    background-color: #DDDBDB;
    margin-top: 20px;
    margin-bottom: 45px;
}

