@font-face{
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
}
@font-face{
    font-family: 'Pacifico', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
}
.main{
    margin: 0 auto;
    max-height: 1700px;
}
.container{
    display: flexbox;
    margin: 0 auto;
    margin-top: 0;
    max-width: 1500px;
}
.header{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}
.header__logo{
    margin: 0px 450px 0px 165px;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}
.nav{
    display: flex;
    justify-content: space-around;
    max-width: 550px;
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.nav__item .link{
    text-decoration: none;
    margin: 0px 25px;
    color: #000000;
    font-weight: 700;
}
.link:hover{
    border-top: 3px solid #ff6633;
    padding-top: 5px;
}
.info{
    font-family: 'Raleway', sans-serif;
}
.first{
    background: url(11_1back.jpg);
    background-repeat: no-repeat;
    min-height: 1000px;
    display: flex;
    align-items: center;
    margin-top: -110px;
}
.info__top{
    max-width: 365px;
    margin-left: 165px;
}
.label1{
    font-size: 60px;
    font-weight: 500;
}
.text1{
    font-size: 20px;
    margin: 15px 0px 20px;
}
.free{
    background-color: #ff6633;
    color: #ffffff;
    padding: 15px;
    border: 0px solid;
}
.second{
    display: flex;
    align-items: center;
    background-color: #00B6B6;
    min-height: 700px;
    max-width: 1500px;
}
.info__image{
    margin-left: 165px;
    : ;
    box-shadow: none;
}
.info__down{
    max-width: 365px;
    margin-left: 85px;
    color: #ffffff;
}
.label2{
    font-size: 60px;
    font-weight: 700;
}
.text2{
    font-size: 20px;
    margin: 15px 0px 20px;
}